/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    scroll-behavior: smooth;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my  code*/

*{
    text-decoration: none;
}

body {
    background-color: #7f1ca7;

}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    
    margin: 0;
    padding: 0;
    background-image: url(image/gaming-couple.gif);
    
    
    
    animation: transitionIn 2s;

}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

/*sidebar*/

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #1989e6;
}

.fa-secondary {
    color: #d8265c;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.2rem;
    letter-spacing: 0.2ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: block;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}



@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);

    }

    to {
        opacity: 1;
        transform: rotateX(0);

    }

}


/*CONTENT*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:wght@100&family=Yanone+Kaffeesatz:wght@300&display=swap');

.heading{
    width: 100%;
    height: 200px;
    margin:auto;
    border-radius: 1.3rem;
    background-color: gray;
    align-items: center;
    background-image: url(https://media.giphy.com/media/AhhGtrpj5ZxGZER5yC/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: transitionIn 2s;
}

.info {
    width: 90%;
    height: 160px;
    background:linear-gradient(to right, #00093c, #2d0b00);
    
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    
    margin: auto;
    
    background-color: rgb(5, 0, 0);
    align-items: center;
    opacity: .8;
    
}

h1{
    font-size: 46px;
    text-align: center;
    padding: auto;
    font-family:'Quicksand',sans-serif;
    color: #011d33;

}
h2 {
    padding: 1rem 1rem;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 25px;
    text-align: center;
    text-shadow: whitesmoke;
    color: rgba(221, 12, 12, 0.89);
}
h3{
    padding: 1rem 1rem;
    font-size: 24px;
    text-align: center;
    
    font-family:'Roboto Mono',monospace;
    color: rgb(93, 10, 187);

}
p {
    font-size: 13.5px;
    font-family: 'Roboto Mono',monospace;
    text-align: center;
    color: whitesmoke
} 


.box1 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/gtasa.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);
    animation: transitionIn 3s;
}



.box2 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);
    animation: transitionIn 3.5s;

}


.box3 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/gta4-2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);
    animation: transitionIn 3s;

}

.box4 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);
    animation: transitionIn 3.5s;

}
 

.box5 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/mgs5-cool.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box6 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box7 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/gta.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box8 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box9 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/gtavc1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box10 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box11 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/ac2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box12 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box13 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/inside.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box14 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box15 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/san2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box16 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box17 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/corvo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box18 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box19 {
    background-color: #dae9f5;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/life2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}

.box20 {
    background-color: #011d33;
    width: 80%;
    height: 50vh;
    margin: auto;
    padding: 2rem 2rem 2rem;
    margin-top: 25px;
    border-radius: 1.3rem;
    background-image: url(image/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s cubic-bezier(1, -0.33, 0, 1.57);

}
.space{
    width: 100%;
    height: 70px;
}



@media only screen and (min-width:700px){
    .heading {
    width:100%;
    height:300px;
    
    
    
   }

   .info {
    height: 100px;
    padding-top: 1rem;
    opacity: 1;
   }

 
   

   .box1 {
    
    width: 50%;
    
    float: left;
  }

 .box2 {
    background-color: #101d27;
    
    width: 30%;
   
    
    float: right;
  }


  .box3 {
    background-image: url(image/gta4.webp);

    width: 50%;

    float: right;
   }

   .box4 {
    background-color:#101d27;

    width: 30%;


    float: left;
   }

    .box5 {
     background-image: url(image/mgs5.gif);
     width: 50%;
        
      float: left;
    }
        
    .box6 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: right;
    }

    .box7 {
        
            width: 50%;
        
            float: right;
    }
        
    .box8 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: left;
    }

    .box9 {

         background-image: url(image/gtavc.webp);
        
            width: 50%;
        
            float: left;
    }
        
    .box10 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: right;
    }

    .box11 {

            background-image: url(image/eziosfamily.webp);
            width: 50%;
        
            float: right;
    }
        
    .box12 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: left;
    }

    .box13 {
        
            width: 50%;
        
            float: left;
    }
        
    .box14 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: right;
    }

    .box15 {
        
            width: 50%;
        
            float: right;
    }
        
    .box16 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: left;
    }

    .box17 {
        
            width: 50%;
        
            float: left;
    }
        
    .box18 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: right;
    }

    .box19 {

            background-image: url(image/hl2.webp);
        
            width: 50%;
        
            float: right;
    }
        
    .box20 {
            background-color: #101d27;
        
            width: 30%;
        
        
            float: left;
    }

    .space {
        width: 40%;
        height: 80px;
        float: left;
    
    }
    .space2 {
        width: 40%;
        height: 80px;
        float: right;
    
    }

}

#play {

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50%;
    size: 60px;
    cursor: pointer;
    transition: all .4s;

}

#play:hover {
    transform: scale(1.1);
}

/*effects*/
.box1:hover {
    transform: scale(1.1);

}

.box2:hover {
    transform: scale(1.1);

}

.box3:hover {
    transform: scale(1.1);

}

.box4:hover {
    transform: scale(1.1);

}


.box5:hover {
    transform: scale(1.1);

}

.box6:hover {
    transform: scale(1.1);

}

.box7:hover {
    transform: scale(1.1);

}

.box8:hover {
    transform: scale(1.1);

}

.box9:hover {
    transform: scale(1.1);

}

.box10:hover {
    transform: scale(1.1);

}



.box11:hover{
    transform: scale(1.1);
    
}

.box12:hover {
    transform: scale(1.1);

}

.box13:hover {
    transform: scale(1.1);

}

.box14:hover {
    transform: scale(1.1);

}


.box15:hover {
    transform: scale(1.1);

}


.box16:hover {
    transform: scale(1.1);

}

.box17:hover {
    transform: scale(1.1);

}


.box18:hover {
    transform: scale(1.1);

}

.box19:hover {
    transform: scale(1.1);

}
.box20:hover {
    transform: scale(1.1);

}


/*Footer

#footer{
     width: 100%;
     min-height: calc(100vh-50px);
     margin-left: 50px;
     position:fixed;
     bottom:0;
     background:linear-gradient(to right, #00093c, #2d0b00) ;
     color:#fff;
     padding: 100px 0 30px;
     border-top-left-radius: 125px;
     font-size: 13px;
     line-height: 20px;

}
 







